*~
*.la
*.lo
*.o
.deps
.libs
.nfs*
Makefile
Makefile.in
autom4te.cache
autoscan.log
compile
config.*
configure
depcomp
gmon.*
install-sh
libtool
ltmain.sh
missing
mydata
stamp-h1

src/bin/mteval-corpus
src/bin/mteval-sentence

